.Logo {
    width: 10%;
    height: 100%;
    float: right;
    background-color: inherit;
    align-items: center;
    justify-content: center;
    color: green;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

@media screen and (min-width: 760px) {
    .Logo {
        font-size: 30px;
    }
}

@media screen and (max-width: 759px) {
    .Logo {
        font-size: 16px;
    }
}