.AddCompany {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;
    background-color: lightslategrey;
    height: 400px;
    max-height: 80%;
    width: 300px;
    max-width: 80%;

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
}

.AddCompany > .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.name, .email, .pass{
    width: 80%;
    height: 60%;
    appearance: none;
    color: black;
    border-width: 0px;
    border-bottom: 2px solid green;
}

.AddCompany > div {
    width: 80%;
    height: 80%;
    color: black;
}

.AddCompany .closeButton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.AddCompany > .submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.submitButton {
    width: 40%;
    height: 60%;
    background-color: green;
    cursor: pointer;
    color: white;
    border: none;
}

.cancelButton {
    width: 40%;
    height: 60%;
    background-color: red;
    cursor: pointer;
    color: white;
    border: none;
}