.Main {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    /*align-content: center;*/
    align-items: center;
    /*justify-content: center;*/
}

.Main > div {
    width: 80%;
    margin: 1vh;
}

.Main > div:hover {
    box-shadow: 2px 2px 2px green;
}